.menu-data{
	.menu-sections{
		:host >>> .accordion{
			box-shadow: none !important;
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
	}
	.category-items{
		position: relative;
		.item-actions{
			position: absolute;
			right: 0;
			top: 4px;
			z-index: 5;
		}
	}
}